body {background-color: #fdf5e6
}


  hr{
    width: 5%;
    border-style: dotted none none;
    border-color: inherit;
    border-width: 5px;}

    h1{
      color: #050505}

    h3{
      color:#050505
    }
